.app{
	min-height:100%;
	position:relative;
	text-align:center;
	color:#000;
}
.app .tip{
	margin:20px 20px;
	border:1px solid #ebebeb;
}
.app .btn{
	display:inline-block;
	margin-top:20px;
	margin-bottom:20px;
	width:150px;
	height:40px;
	border:none;
	border-radius:6px;
	background:#f6870c;
	color:#fff;
	line-height:24px;
	text-align:center;
	font-size:16px;
	-webkit-appearance:none;
	outline:none;
}