html,body{
	-ms-text-size-adjust:100%;
	-webkit-text-size-adjust:100%;
	min-height:100%;
}
body{
	line-height:1.5;
	word-wrap:break-word;
	min-height:100%;
	font-family:"Helvetica Neue",Helvetica,STHeiTi,Arial,sans-serif;
	overflow:auto;
	background-color:#fff;
	-webkit-overflow-scrolling:touch;
}
*{
	margin:0;
	padding:0;
}
h1,h2,h3,h4,h5,h6{
	font-weight:normal;
}
a{
	text-decoration:none;
}
img{
	border:0;
	max-width:100%;
	vertical-align:middle;
	-webkit-touch-callout:none;
}