.app {
    min-height: 100%;
    position: relative;
    text-align: center;
    color: #000;
}

.tip {
    margin: 10px 20px;
    border: 1px solid #ebebeb;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 140px;
    height: 40px;
    border: none;
    border-radius: 6px;
    background: #F6870C;
    color: #fff;
    line-height: 24px;
    text-align: center;
    font-size: 16px;
    -webkit-appearance: none;
    outline: none;
}