@font-face {
	font-family:"myicon";
	src:url("../fonts/myicon.eot");
	src:url("../fonts/myicon.eot?#iefix") format("eot"),url("../fonts/myicon.woff2") format("woff2"),url("../fonts/myicon.woff") format("woff"),url("../fonts/myicon.ttf") format("truetype"),url("../fonts/myicon.svg#myicon") format("svg");
}
.myiconfont:before{
	display:inline-block;
	font-family:"myicon" !important;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	font-style:normal;
	font-weight:normal;
	font-variant:normal;
	text-transform:none;
	line-height:1;
	text-decoration:none;
	text-transform:none;
}
.myiconfont-add:before{
	content:"\E001";
}
.myiconfont-arrow:before{
	content:"\E002";
}
.myiconfont-comment:before{
	content:"\E003";
}
.myiconfont-refresh:before{
	content:"\E004";
}