html,body{
	-ms-text-size-adjust:100%;
	-webkit-text-size-adjust:100%;
	min-height:100%;
}
body{
	line-height:1.4;
	word-wrap:break-word;
	min-height:100%;
	font-family:"Helvetica Neue",Helvetica,STHeiTi,Arial,sans-serif;
	overflow:auto;
	background-color:#fff;
	-webkit-overflow-scrolling:touch;
}
*{
	margin:0;
	padding:0;
}
h1,h2,h3,h4,h5,h6{
	font-weight:normal;
}
a{
	text-decoration:none;
}
img{
	border:0;
	max-width:100%;
	vertical-align:middle;
	-webkit-touch-callout:none;
}
.app{
	min-height:100%;
	position:relative;
	text-align:center;
	color:#aaa;
}
.app .tip{
	margin:20px 20px;
	border:1px solid #ebebeb;
}
.app .btn{
	display:inline-block;
	margin-top:20px;
	margin-bottom:20px;
	width:140px;
	height:40px;
	border:none;
	border-radius:6px;
	background:#f6870c;
	color:#fff;
	line-height:24px;
	text-align:center;
	font-size:16px;
	-webkit-appearance:none;
	outline:none;
}
.app .icons{
	margin-top:20px;
	font-size:22px;
	color:#000;
}